<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- HTML5 Shim -->
	<script src="landing2/js/html5shiv.js" type="text/javascript"></script>
	<!-- javascript -->
	<script src="landing2/js/jquery.js" type="text/javascript"></script>
	<script src="landing2/js/functions.js" type="text/javascript"></script>
	<!-- Styles -->
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800|Open+Sans+Condensed:300,700&amp;subset=latin,latin-ext" />
	<link type="text/css" rel="stylesheet" media="all" href="landing2/css/style.css" />
    <link rel="stylesheet" href="slick/slick.css"/>
    <link rel="stylesheet" href="landing2/css/custom.css"/>
    <title>{{ page.title }}</title>
    <script src="slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slider').slick({
                centerMode: true,
                dots: false,
                arrows: false,
                autoplay: true,
                mobileFirst: true,
                variableWidth: true,
                responsive: true,
                infinite: true
            });
        });
    </script>
</head>
<body>
	<div id="wrapper">
		<div class="header">
			<div class="content">
				<div class="centered">
					<h1> {{ page.getTitle() }} </h1>
					<h3 class="accent">{{ page.getDescription() }}</h3>
				</div>

			</div>
		</div>
		<div class="body">
        {% if page.hasCarousels() %}
            {% for carousel in page.getCarousels() %}
                <div class="slider">
                    {% for image in carousel.getImages() %}
                        <div class="slider_image">
                            <img  src="storage/{{ page.getId() }}/large_{{ image.src }}.jpg" />
                            <span>{{ image.text }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
			<div class="content">
                {% if page.get3ColCards() %}
                {% for card in page.get3ColCards() %}
                    <div class="blocked">
                        <div class="block centered">
                            <img style="width: 200px" src="storage/{{ page.getId() }}/small_{{ card.getImage(1).getText() }}.jpg" />
                            <h3 class="accent">{{ card.getTitle(1).getText() }}</h3>
                            <p>{{ card.getBody(1).getText() }}</p>
                        </div>
                        <div class="block centered">
                            <img style="width: 200px" src="storage/{{ page.getId() }}/small_{{ card.getImage(2).getText() }}.jpg" />
                            <h3 class="accent">{{ card.getTitle(2).getText() }}</h3>
                            <p>{{ card.getBody(2).getText() }}</p>
                        </div>
                        <div class="block centered">
                            <img style="width: 200px" src="storage/{{ page.getId() }}/small_{{ card.getImage(3).getText() }}.jpg" />
                            <h3 class="accent">{{ card.getTitle(3).getText() }}</h3>
                            <p>{{ card.getBody(3).getText() }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
			</div>
            <form class="optin" action="/v1/forms/{{ page.getId() }}" method="POST">
                <input type="text" name="name" id=""/>
                <input type="email" name="email"/>
                <input type="text" name="_METHOD" value="PUT" hidden/>
                <input type="submit" value="Apuntame!"/>
            </form>
		</div>
		<div class="footer">
			<div class="content page-footer">
				<a href="#">Legal Information</a>
			</div>
		</div>
	</div>
</body>
</html>
