{% import "attributes.twig" as attributes %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.getTitle() }}</title>
    <meta name="theme-color" content="{{ page.getBackgroundColor() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="css/landingCarouse.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script>
      $(document).ready(function(){
          $('.slider').slick({
            centerMode: false,
            dots: false,
            speed: 800,
            autoplaySpeed: 3000,
            arrows: false,
            draggable: false,
              responsive: true,
              touchMove: false,
            adaptiveHeight: false,
            centerPadding: '0px',
              centeredMode: true,
            autoplay: true,
            mobileFirst: false,
            variableWidth: false,
            infinite: true
          });
          //$('.carousel-example-generic').carousel();
      });
  </script>
</head>
<body>

  <main class="fill" {{ attributes.backgroundColorStyle( page.getBackgroundColor() ) }}>

    <div class="container-fluid">

      <div class="row landing-header" {{ attributes.colors_style( page.getColor(), page.getBackgroundColor() ) }}>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="col-md-4 align-always">
                <img src="storage/{{ page.getId() }}/small_{{ page.getLogoId() }}.jpg" alt=""/>
            </div>
            <div class="col-md-8 align-right align-md">
                <div class="row">
                    <h1>{{ page.getTitle() }}</h1>
                </div>
                <div class="row landing-description">
                    <p>{{ page.getDescription() }}</p>
                </div>
            </div>
        </div>
          <div class="col-md-2"></div>
      </div>
{% if page.hasCarousels() %}
    {% for carousel in page.getCarousels() %}
        <div class="row slider carousel">
                    {% for image in carousel.getImages() %}
                        <div class="slider_image">
                            <div class="caption" style="background-image: url('storage/{{ page.getId() }}/large_{{ image.src }}.jpg')">
                                <p>{{ image.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
        </div>
    {% endfor %}
{% endif %}
      {% if page.get3ColCards() %}
        {% for card in page.get3ColCards() %}
          <div class="row triptic" {{ attributes.colors_style( card.getColor(), card.getBackgroundColor() ) }}>

            <div class="col-md-4">
              <img class="img-rounded center-block" src="storage/{{ page.getId() }}/small_{{ card.getImage(1).getText() }}.jpg" alt="">
              <h2 class="text-center">{{ card.getTitle(1).getText() }}</h2>
              <p class="text-center">{{ card.getBody(1).getText() }}</p>
            </div>
            <div class="col-md-4">
              <img class="img-rounded center-block" src="storage/{{ page.getId() }}/small_{{ card.getImage(2).getText() }}.jpg" alt="">
              <h2 class="text-center">{{ card.getTitle(2).getText() }}</h2>
              <p class="text-center">{{ card.getBody(2).getText() }}</p>
            </div>
            <div class="col-md-4">
              <img class="img-rounded center-block" src="storage/{{ page.getId() }}/small_{{ card.getImage(3).getText() }}.jpg" alt="">
              <h2 class="text-center">{{ card.getTitle(3).getText() }}</h2>
              <p class="text-center">{{ card.getBody(3).getText() }}</p>
            </div>

          </div>
        {% endfor %}
      {% endif %}

    </div>
      <div class="container-fluid landing-form" {{ attributes.colors_style( page.getColor(), page.getBackgroundColor() ) }}>
          <div class="col-md-6 col-md-push-3">
              <h3>{{ page.getFormText() }}</h3>
              <form class="form-inline" action="v1/forms/{{ page.getId() }}" method="POST">
                  <input type="text" name="_METHOD" value="PUT" hidden/>
                  <div class="form-group">
                      <label class="sr-only" for="inName">Nombre</label>
                      <input type="text" id="inName" class="form-control" name="name" placeholder="Nombre"/>
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="inEmail">Email</label>
                      <input type="email" id="inEmail" class="form-control" name="email" placeholder="Email"/>
                  </div>
                  <button type="submit" class="btn btn-default">¡Suscribeme!</button>
              </form>
          </div>
      </div>
  </main>
</body>
</html>
